{% extends 'baseADS.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block main %}
  <p>Du contenu venant de {{ controller_name }}</p>
{% endblock %}

{%block sidebar%}
  <h3>{{ ads.title }}</h3>
  <p>{{ ads.description}}</p>

{% endblock %}
