<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}- APP w/ {% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap.min.css') }}">

        {% endblock %}
    </head>


    <body>

    <div class="container">
      <header>
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link">menu</a>
            </li>
            <li class="nav-item">
              <a  href="#"class="nav-link">menu</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">menu</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="row">
      <main class="col-md-9">{% block body %}{% endblock %}</main>
      <sidebar class="col-md-3">{% block sidebar %}{% endblock %}</sidebar>
      </div>
      <footer>2018 - IutOrleans</footer>
      </div>



        {% block javascripts %}{% endblock %}
    </body>
</html>
